.card-container{
  background-color: #E5E5E5;
  border-radius: 20px;
  border:3px solid white;
  width:150px;
  height: 300px;
  padding:15px;
  margin-bottom: 50px;

  &__name{
    color:#EF271B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
  }

  &__role{
    color: #EA1744;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

}

