
.tickets-tracker{
  background-color: #FFBE0B;
  border-radius: 35px;
  text-align: center;
  h2{
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    padding-top: 30px;
    border-bottom: 3px dotted;
    width: 500px;
    margin: 10px auto;
    
    
  }


  .tickets-container{
      display:flex;
      flex-wrap: wrap;
      gap:30px;
      max-width: 1100px;
      margin: 40px auto;
  }
}

